<div>
  <p>Diese Website bietet Informationen über die deutsche Vertriebseinheit der Grünenthal GmbH.</p>
  <p><a href="/"><img src="https://www.grunenthal.de/assets/toolkit/images/logo/logo-grunenthal.svg" alt="Grünenthal Group"></a></p>
</div>
<div>
  <h2>Initiativen</h2>
  <ul>
    <li><a href="https://www.grunenthalhealth.de/de-de/medizinisches-fachpersonal">Grünenthal Health Infocenter</a></li>
    <li><a href="http://grunenthal-pro.com/">Grünenthal PRO</a></li>
  </ul>
</div>
<div>
  <h2>Dienstleistungen</h2>
  <ul>
    <li><a href="mailto:service@grunenthal.com">Kontakt</a></li>
    <li><a href="https://drug-safety.grunenthal.com">Nebenwirkungsmeldung</a></li>
    <li><a href="https://www.linkedin.com/company/gruenenthal">Grünenthal | LinkedIn</a></li>
    <li><a href="/de-de/medien/schulungsmaterialien">Schulungsmaterialien</a></li>
    <li><a href="/de-de/ueber_uns/produkte/retourenbedingungen">Retourenbedingungen</a></li>
  </ul>
</div>
<div>
  <h2>Mitgliedschaften</h2>
  <ul>
    <li><a href="https://www.efpia.eu">EFPIA</a></li>
    <li><a href="https://www.vfa.de">Vfa</a></li>
  </ul>
</div>
<div>
  <p>Grünenthal 2026 ©</p>
  <ul>
    <li><a href="/de-de/footer-links/general-terms-and-conditions">Allgemeine Geschäftsbedingungen</a></li>
    <li><a href="/de-de/footer-links/disclaimer">Nutzungsbedingungen</a></li>
    <li><a href="/de-de/footer-links/datenschutzerklaerungen">Datenschutzerklärungen</a></li>
    <li><a href="/de-de/footer-links/datenschutzerklaerung">Datenschutzerklärung</a></li>
    <li><a href="/de-de/footer-links/imprint">Impressum</a></li>
    <li><a href="/de-de/footer-links/sitemap">Sitemap</a></li>
  </ul>
</div>
