<div>
  <p><a href="/"><img src="https://www.grunenthal.de/assets/toolkit/images/logo/logo-grunenthal.svg" alt="Grünenthal"></a></p>
</div>
<div>
  <ul>
    <li>Über uns
      <ul>
        <li><a href="/de-de/ueber_uns/unternehmensueberblick">Unternehmensüberblick</a></li>
        <li><a href="/de-de/ueber_uns/unsere_kultur">Unsere Kultur</a></li>
        <li><a href="/de-de/ueber_uns/unternehmensgeschichte">Unternehmensgeschichte</a></li>
        <li><a href="/de-de/ueber_uns/compliance-ethik-und-transparenz">Compliance, Ethik und Transparenz</a></li>
        <li><a href="/de-de/ueber_uns/initiativen">Initiativen</a></li>
      </ul>
    </li>
    <li><a href="/de-de/forschung-und-entwicklung">Forschung &amp; Entwicklung</a></li>
    <li>Partnerschaften
      <ul>
        <li><a href="/de-de/partnerschaften/kerninteressen">Kerninteressen</a></li>
      </ul>
    </li>
    <li>Karriere
      <ul>
        <li><a href="/de-de/karriere/jobs-und-karriere">Jobs und Karriere</a></li>
        <li><a href="/de-de/karriere/mitarbeitende-erzaehlen">Mitarbeitende erzählen</a></li>
      </ul>
    </li>
    <li>Medien
      <ul>
        <li><a href="/de-de/medien/pressemitteilungen">Pressemitteilungen</a></li>
        <li><a href="/de-de/medien/statements">Statements</a></li>
        <li><a href="/de-de/medien/stories-archiv">Unsere News</a></li>
        <li><a href="/de-de/medien/unternehmenspublikationen">Unternehmenspublikationen</a></li>
        <li><a href="/de-de/medien/bildressourcen">Bildressourcen</a></li>
        <li><a href="/de-de/medien/videoressourcen">Videoressourcen</a></li>
      </ul>
    </li>
  </ul>
</div>
<div>
  <p><a href="mailto:service@grunenthal.com">Kontakt</a></p>
  <p><a href="/de-de/medien">Medien</a></p>
  <p><a href="#search-box">Suchen</a></p>
</div>
